*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.nav{
background-color: darkcyan;
display:flex;
justify-content: space-between;
}

.image{
width: 50%;
}

.links{
display: flex;
list-style: none;
margin: 10px;

}

.link-item{
margin: 10px;
}
a{
text-decoration: none;
font-size: 19px;
background-color: lightgreen;
color: darkgoldenrod;
}

a:hover{
    background-color: aqua;
    color: grey;

}